<div class="container">
    <app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">

    </app-star>

    <table>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
        </tr>
        <tr>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
        </tr>
    </table>
    
</div>

<!-- <section id="productList">

    <div class="card">
        <div class="card-header">
            Product List
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label for="filterProduct">Filter By: </label>
                <input type="text" id="filterProduct"   >
            </div>

            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th><button class="btn btn-primary" [innerHtml]="'btnValue'"></button></th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Avaiable</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>124214esadsad</td>
                        <td>fdsdsaddsaddas</td>
                        <td>sadasdsdwq</td>
                        <td>asdsasdwqqwd</td>
                        <td>asdaswqedqwqweqweqweqw</td>
                        <td><app-star [rating]="currentRating">
                        </app-star></td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>

</section> -->