<!DOCTYPE html>
<html lang="en" ng-app="todoList">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/todoStyle-2.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../../../jquery-3.5.1.min.js"></script>
    <script src="../../../moment.js"></script>

</head>
<body>
    
    <div ng-controller="todoListController" class="header">
        <textarea type="text" id="task" ng-model="userTaskDescription" placeholder = {{userTaskDescription}} cols="60" rows="5"  required></textarea>
        <br><br>
  
        <button class="btn btn-default" ng-click="addTask()">Add Tasks</button>
        <button class="btn btn-default" ng-hide='updateBtn' ng-click="update()">Update Task</button>
    </div>

    <div id="undone" ng-controller="taskController" ng-init="load()">
    <!-- <div id="undone"> -->
        <h2 class="taskHeader">Your Tasks</h2>
        <table id="undoneTable">
            <tr>
                <th>Done</th>
                <th>Task</th>
                <th>Time</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>

            <tbody ng-repeat="t in tasks">
                <tr class="{{t.task.split(' ').join('')}}">
                    <td><input type="checkbox" ng-model='checkbox' ng-click="checkBoxClick($event, t.id)"></td>
                    <td id="{{t.id}}">{{t.task}}</td>
                    <td  class="{{t.id}}">{{t.taskTime}}</td>
                    <td><input type="button" value="Update button" ng-click="updateTask(t.task)"></td>
                    <td><input type="button" value="Remove button" ng-click="removeTask(t.task)"></td>
                </tr> 
            </tbody>

        </table>

    </div>



    <script src="../js/todo-2.js"></script>

</body>
</html>