<section>
    
    <div class="jumbotron">
        <h2 class="display-2">Update Student Details</h2>
    </div>

    <form>

        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" id="name" class="form-control" name="studentName" [(ngModel)]="studentName">
            <!-- <span class="text-danger" *ngIf="name.touched && !name.valid">Please enter Student Name</span> -->

        </div>

        <div class="form-group">
            <label for="rollNo">Roll No: </label>
            <input type="text" id="rollNo" class="form-control" placeholder="Enter Roll No" name="rollNo" [(ngModel)]="rollNo" >
            <!-- <span class="text-danger" *ngIf="rollNo.touched && !rollNo.valid">Please enter Student Roll No</span> -->
        </div>

        <div class="form-group">
            <label for="age">Age: </label>
            <input type="text" id="age" class="form-control"  placeholder="Enter Age" name="age" [(ngModel)]="age" >
            <!-- <span class="text-danger" *ngIf="age.touched && !age.valid">Please enter Student Age</span> -->

        </div>

        <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" id="email" class="form-control"  placeholder="Enter Email ID" name="email" email [(ngModel)]="email" >
            <!-- <span class="text-danger" *ngIf="email.touched && !email.valid">Please enter valid Email ID</span> -->
        </div>

        <div class="form-group">
            <label for="date">Date: </label>
            <input type="date" id="date" class="form-control" name="date" [(ngModel)]="date" >
            <!-- <span class="text-danger" *ngIf="date.touched && !date.valid">Please enter valid Date</span> -->
        </div>

        <div class="form-group">
            <label for="gender">Gender: &nbsp;</label>
            <input type="radio" id="gender" name="gender" value="Male" [(ngModel)]="gender"> Male
            <input type="radio" id="gender" name="gender" value="Female" [(ngModel)]="gender"> Female

        </div>

        <button type="submit" class="btn btn-outline-success">Submit</button>
        &nbsp;&nbsp;
        <button class="btn btn-outline-secondary" [routerLink]="'/home'">Check Existing Students</button>

        <br><br>

    </form>

</section>