#countryTable {
    font-family: cursive;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
  
#countryTable td, #countryTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#countryTable tr:nth-child(even){background-color: #f2f2f2;}
  
#countryTable tr:hover {background-color: #ddd;}
  
#countryTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #00adb5;
    color: white;
}

img {
    height: auto;
    width: 10%;
}

.welcome-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    padding-left: 17em;
}
