<section>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="nav-item">
        <a class="navbar-brand">Acme Product Management</a>
      </div>
        <div class="nav-item">
          <a class="nav-link" [routerLink]="'/welcome'">Home</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" [routerLink]="'/productList'">Product List</a>
        </div>
    </nav>
  
    <router-outlet></router-outlet>
  
  </div>
</section>