<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factory Servie</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body ng-app='factoryApp'>

    <div ng-controller='factoryController1'>
        <p>
            <button ng-click='increment();'>Increment</button> 
        </p>

    </div>

    <div ng-controller='factoryController2'>
        <p>
            <button ng-click='decrement();'>Decrement</button>

        </p>
    </div>

    <div ng-controller='factoryController'>
        <h4>{{buttonPressedCount}}</h4>

    </div>
    
    <script src="../js/factory.js"></script>
</body>
</html>