<section id="productList">

    <div class="card">
        <div class="card-header">
            Product List
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label for="filterProduct">Filter By: </label>
                <input type="text" id="filterProduct" [(ngModel)]="productName" (input)="searchProduct();" >
            </div>

            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col"><button class="btn btn-primary" (click)='showProductImage();' [innerHtml]='btnValue'></button></th>
                        <th scope="col">Product</th>
                        <th scope="col">Code</th>
                        <th scope="col">Avaiable</th>
                        <th scope="col">Price</th>
                        <th scope="col">5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prd of products">
                        <td><img id='imgSize' [hidden]='showImage' [src]="prd.imageUrl" alt=""></td>
                        <td>
                            <a class="nav-link" href="/productDetails" (click)='setProductID(prd.productId)'>{{prd.productName}}</a>
                        </td>
                        <td [innerHtml]='prd.productCode'></td>
                        <td [innerHtml]='prd.releaseDate'></td>
                        <td [innerHtml]='prd.price'></td>
                        <td app-star [rating]="prd.starRating" ></td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>

</section>

