<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binding</title>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <script src="../../../angular.min.js"></script>

</head>
<body ng-app="binder">
    
    <div ng-controller="binderController">
        Name: <input type="text" ng-model="name"> <br> <br>
        Size: <input type="text" ng-model="size "> <br> <br>
        Background Color: <input type="text" ng-model="bgColor"> <br> <br>
        Foreground Color: <input type="text" ng-model="fgColor"> <br> <br>
    
        <p ng-style="{'color':fgColor, 'background-color':bgColor, 'font-size':size+'px'}" ng-bind="name">{{name}}</p>

    </div>

    <script>
        var bindApp = angular.module('binder', []);

        bindApp.controller('binderController', function($scope) {

        });
    </script>

</body>
</html>